#faqSection {
	margin: 32px 20px;
	.fifthElement {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		.faq_accordeon {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 20px;
			.accordion-item {
				.accordion-header {
					// gap: 5px;
					border: 4px solid transparent;
					border-radius: 12px;
					// padding: $spacing-5 $spacing-6;
					background-color: $primaryColor;
					color: white;
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					padding: $spacing-5 $spacing-6;
					border: none;
					text-align: left;
					cursor: pointer;
					outline: none;
					transition: background-color 0.3s ease;
					font-size: 18px;
					font-weight: 600;
					img {
						height: 24px;
						width: 24px;
					}
					img:last-child {
						display: none;
					}
				}
				.accordion-header:hover {
					background-color: $primaryColor2;
				}
				.accordion-content {
					// display: none;
					max-height: 0;
					overflow: hidden;
					transition: max-height 0.5s ease;
					p {
						font-size: 18px;
						margin: 0;
						padding: 10px;
					}
				}
			}
		}
	}
}
@media (min-width: 744px) {
	#faqSection {
		margin: 120px 40px;
		.fifthElement {
			h2 {
				font-size: 32px;
			}
		}
	}
}
@media (min-width: 1240px) {
	#faqSection {
		margin: 120px;
		.fifthElement {
			gap: 48px;
		}
	}
}
