#firstSection {
	margin: 40px 0;
	.firstElement {
		display: flex;
		flex-direction: column;

		.mainPic {
			position: relative;
			img {
				display: block;
				width: 100%;
				height: auto;
			}
			.polygon {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: white;
				clip-path: polygon(0 0, 2.5% 0%, 10% 102%, 0 100%);
				top: 0px;
				left: 0px;
			}
			.polygon2 {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: white;
				clip-path: polygon(100% 79%, 0% 102%, 100% 101%);
				bottom: 0px;
				left: 0px;
			}
		}
		.HeadingNText {
			padding: 40px 20px 0 20px;
			display: flex;
			flex-direction: column;
			gap: 20px;
			h1 {
				.hbold {
					font-weight: 700;
				}
			}
			.subhead {
				font-size: $fontSize_l;
				line-height: 150%;
			}
			p {
				font-size: 16px;
			}
			.buttonWrapper {
				display: flex;
				gap: 32px;
				.button {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: $spacing-2 $spacing-6;
					border-radius: 12px;
					font-size: 18px;
					font-weight: 500;
					line-height: 150%;
					letter-spacing: 1.1px;
				}
				.orangeButton {
					background-color: $primaryColor2;
					color: white;
					font-size: 14px;
					text-decoration: none;
				}
				.whiteButton {
					color: $primaryColor2;
					background-color: white;
					border: 2px solid $border_default;
					text-decoration: none;
					font-size: 18px;
					img {
						display: none;
					}
				}
			}
		}
	}
	@media (min-width: 744px) {
		.firstElement {
			.HeadingNText {
				padding: 60px 40px 0 40px;
				.subhead {
					font-size: 24px;
				}
				p,
				li {
					font-size: 18px;
				}
			}
		}
	}
}
@media (min-width: 1240px) {
	#firstSection {
		margin: 0;
		.firstElement {
			// display: grid;
			// grid-template-areas: "text pic";
			display: flex;
			flex-direction: row-reverse;

			.mainPic {
				flex: 1;
				//grid-area: pic;
				//width: 100%;
				// height: 571px;
				img {
					//height: 100%;
					width: 100%;
				}
				.polygon2 {
					display: none;
				}
				.polygon {
					clip-path: polygon(0 0, 0% 0%, 18% 102%, -1% 100%);
				}
			}
			.HeadingNText {
				flex: 1;
				// grid-area: text;
				padding-left: 10%;
				padding-right: 10%;
				.buttonWrapper {
					display: flex;
					gap: 32px;
					.button {
						display: flex;
						align-items: center;
						justify-content: center;
						padding: $spacing-6 $spacing-7;
						border-radius: 12px;
						font-size: 18px;
						font-weight: 500;
						line-height: 150%;
						letter-spacing: 1.1px;
					}
					.orangeButton {
						background-color: $primaryColor2;
						color: white;
					}
					.whiteButton {
						color: $primaryColor2;
						background-color: white;
						border: 2px solid $border_default;
					}
				}
			}
		}
	}
}
