@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/source-sans-pro/SourceSansPro-Light.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/source-sans-pro/SourceSansPro-Regular.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/source-sans-pro/SourceSansPro-Semibold.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/source-sans-pro/SourceSansPro-Bold.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: italic;
	font-weight: 300;
	src: url("static/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: italic;
	font-weight: 400;
	src: url("/fonts/source-sans-pro/SourceSansPro-LightIt.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: italic;
	font-weight: 500;
	src: url("/fonts/source-sans-pro/SourceSansPro-It.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: italic;
	font-weight: 600;
	src: url("/fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf"); /* IE9 Compat Modes */
}

@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "SourceSansPro";
	font-style: italic;
	font-weight: 700;
	src: url("/fonts/source-sans-pro/SourceSansPro-BoldIt.otf"); /* IE9 Compat Modes */
}
