#footer {
	display: flex;
	flex-direction: column;
	.footerWiese {
		clip-path: polygon(0px 0px, 0% 100%, 75% 100%);
		width: 100%;
		height: 76px;
		background-color: $secondary-green-50;
	}
	.footerContactSection {
		background-color: $primaryColor3;
		padding: $spacing-8 $spacing-5;
		.phoneIcon {
			display: flex;
			align-items: center;
			gap: 16px;
			color: $font_headline_light;
			text-decoration: none;
			font-size: 18px;
			font-weight: 600;
			line-height: 26px;
			img {
				width: 28px;
				height: 28px;
			}
		}
	}
	.footerMain {
		padding: 60px 20px 20px 20px;
		background: $primaryColor;
		color: $font_headline_light;
		display: flex;
		flex-direction: column;
		gap: 60px;
	}
	.copyright {
		background: $primaryColor3;
		color: $font_headline_light;
		padding: 0px 30px 30px 30px;
		font-size: 14px;
		.crWrapper {
			// border-top: 1px solid white;
			padding-top: 30px;
			p {
				color: white;
			}
		}
	}
	.fLogoNText {
		display: flex;
		flex-direction: column;
		gap: 20px;
		img {
			width: 178px;
			height: 48px;
		}
		p {
			font-size: $fontSize_s;
			color: white;
			max-width: 490px;
		}
	}
	.fContactNInfo {
		display: flex;
		flex-direction: column;
		gap: 60px;
		.fContact,
		.fInfo {
			p:first-child {
				font-size: 16px;
				line-height: 150%;
				font-weight: 700;
				margin-bottom: 20px;
			}
			p,
			a {
				font-size: 14px;
				line-height: 150%;
				color: $font_headline_light;
				text-decoration: none;
				display: flex;
				flex-direction: column;
				h3 {
					color: $font_headline_light;
				}
			}
		}
		.fInfo {
			display: flex;
			flex-direction: column;
			gap: $spacing-3;
		}
	}
}
@media (min-width: 744px) {
	#footer {
		.footerMain {
			padding: $spacing-10 $spacing-10 24px $spacing-10;
			gap: 72px;
			.fLogoNText {
				grid-area: main;
				p {
					font-size: 16px;
				}
			}
			.fContactNInfo {
				flex-direction: row-reverse;
				justify-content: flex-end;
				.fInfo {
					grid-area: wInfo;
					gap: 0;
					a {
						font-size: 16px;
						margin-bottom: $spacing-3;
					}
				}
				.fContact {
					grid-area: contact;
					p {
						font-size: 16px;
					}
				}
			}
		}
		.copyright {
			display: flex;
			padding: 0px 40px 30px 40px;
			align-items: center;
			.crWrapper {
				width: 100%;
				display: flex;
				.allRights::before {
					content: "\00a0| \00a0";
				}
			}
		}
	}
}
@media (min-width: 1240px) {
	#footer {
		.footerWiese {
			clip-path: polygon(0px 0px, 0% 100%, 50% 100%);
		}
		.footerContactSection {
			padding: 24px 120px;
		}
		.footerMain {
			flex-direction: row;

			padding: 56px 120px 120px 120px;
			gap: 72px;
			.fLogoNText {
				width: fit-content;
				p {
					width: 370px;
					font-size: 16px;
				}
			}
			.fContactNInfo {
				.fInfo {
					a {
						font-size: 16px;
					}
				}
				.fContact {
					p {
						font-size: 16px;
					}
				}
			}
		}
		.copyright {
			padding: 0 120px 30px 120px;
		}
	}
}
