#goalsSection {
	margin: 48px 40px;
	.goalsElement {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 32px;
		.picNText {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 68px;
			img {
				width: 185px;
				padding: 20px;
			}
			p {
				font-size: 18px;
				line-height: 150%;
			}
			div {
				display: flex;
				flex-direction: column;
				gap: 32px;
				.name {
					font-weight: 600;
					width: 60%;
				}
				.name:last-child {
					margin-top: -32px;
				}
			}
		}
		.textNText {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 32px;
			.Text1,
			.Text2 {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				gap: 32px;
				h2 {
					line-height: 150%;
				}
				p {
					font-size: 18px;
				}
			}
		}
		.co2bilanz-text {
			margin-top: 50px;
			text-align: center;
			font-size: 38px;
			font-weight: bold;
			color: #94c23f;
			font-family: Arial, Helvetica, sans-serif;
		}
		// .goalsheader {
		// 	h2 {
		// 		color: $primaryColor;
		// 		text-align: center;
		// 	}
		// }
	}
}
@media (min-width: 744px) {
	#goalsSection {
		margin: 48px 40px;
		.goalsElement {
			gap: 100px;
			.picNText {
				img {
					width: 300px;
					padding: 20px;
				}

				div {
					h2 {
						font-size: 32px;
					}
					.nameofdude {
						font-weight: 600;
						width: 30%;
					}
				}
			}
			.textNText {
				.Text1,
				.Text2 {
					align-items: start;
					h2 {
						font-size: 32px;
						line-height: 150%;
					}
					p {
						font-size: 18px;
					}
				}
			}
			.goalsheader {
				h2 {
					color: $primaryColor;
					text-align: center;
				}
			}
		}
	}
}
@media (min-width: 1240px) {
	#goalsSection {
		margin: 120px 120px;
		.goalsElement {
			.picNText {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: start;
				gap: 120px;
				div {
					.nameofdude {
						font-weight: 600;
						width: 35%;
					}
				}
				img {
					justify-self: center;
				}
			}
			.textNText {
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: baseline;
				gap: 120px;
			}
			.goalsheader {
				h2 {
					line-height: 150%;
					font-size: 48px;
					color: $primaryColor;
					text-align: center;
				}
			}
		}
	}
}
