#header {
	.more {
		background: $primaryColor;
		height: 60px;
		display: flex;
		justify-content: end;
		align-items: center;
		padding: $spacing-5;
		a {
			display: flex;
			align-items: center;
			padding: $spacing-1 $spacing-4;
			color: white;
			text-decoration: none;
			font-weight: 400;
			font-size: $fontSize_m;
		}
	}
	.headerLogoNMenu {
		padding: $spacing-3 $spacing-5;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.headerLogo {
			img {
				height: 28px;
				width: 181px;
			}
		}
		.navbar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;

			.hamburger-menu {
				display: flex;
				flex-direction: column;
				cursor: pointer;
				.bar {
					width: 25px;
					height: 3px;
					background-color: white;
					margin: 4px 0;
					transition: 0.4s;
				}
			}

			.nav-links {
				list-style: none;
				display: none;
				position: absolute;
				top: 60px;
				right: 0;
				height: 100vh;
				width: 100%;
				flex-direction: column;
				background-color: #333;
				z-index: 2;
				width: 300px;
				margin: 0;
				.closeNav {
					display: flex;
					justify-content: end;
					padding: 0 30px;
				}
				li {
					// margin: 0 15px;
					margin: 30px 15px;
					text-align: center;
					a {
						font-weight: 500;
						text-decoration: none;
						color: white;
						font-size: 18px;
						transition: color 0.3s;
						a:hover {
							color: #ff6347;
						}
					}
				}
			}
			.nav-links.active {
				// transform: translateX(0);
				display: flex;
			}
		}
	}
	@media (min-width: 744px) {
		.headerLogoNMenu {
			.headerLogo {
				img {
					height: 43px;
					width: 277px;
				}
			}
		}
	}
	@media (min-width: 1024px) {
		.more {
			padding: 0 $spacing-14;
		}
		.headerLogoNMenu {
			padding: $spacing-5 $spacing-14;
			.navbar {
				padding: 0 $spacing-4;
				.hamburger-menu {
					display: none;
				}
				.nav-links {
					display: flex;
					flex-direction: row;
					background-color: transparent;
					height: fit-content;
					width: fit-content;
					position: unset;

					.closeNav {
						display: none;
					}
					li {
						margin: $spacing-4;
						a {
							color: $font_body_dark;
						}
					}
				}
			}
		}
	}
}
