#logoSection {
	margin: $spacing-8 $spacing-5;
	.logoElement {
		img {
			width: 100%;
			object-fit: contain;
		}
	}
}
@media (min-width: 744px) {
	#logoSection {
		margin: $spacing-10 $spacing-9;
	}
}

@media (min-width: 1240px) {
	#logoSection {
		margin: 120px 64px;
		.logoElement {
			margin: auto;
			max-width: 900px;
		}
	}
}
