$secondary-green-50: #aad200;

$primaryColor: #ed4b0c;
$primaryColor2: #d54108;
$primaryColor3: #992b00;
$border_default: #dce5ef;
$primary_green_surface_20: #e6f1d3;
$font_headline_light: #ffffff;
$font_body_dark: #4b4e52;

// fontsizes
$fontSize_s: 14px;
$fontSize_m: 16px;
$fontSize_l: 18px;
$fontSize_xl: 20px;
$fontSize_xxl: 24px;

// paddings
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-9: 40px;
$spacing-10: 48px;
$spacing-11: 64px;
$spacing-12: 80px;
$spacing-13: 100px;
$spacing-14: 120px;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "SourceSansPro";
	color: $font_body_dark;
}
.section {
	margin: 0 20px;
}
h1 {
	font-size: 32px;
	line-height: 150%;
	font-weight: 400;
}
h3 {
	font-size: 24px;
}
p {
	line-height: 150%;
}
main {
	display: flex;
	flex-direction: column;
}

ul {
	margin: 0 20px;
	li {
		margin: 10px 0;
	}
}
@media (min-width: 744px) {
	h1 {
		font-size: 48px;
	}
}
@media (min-width: 1024px) {
	body {
		max-width: 1720px;
		margin: auto;
	}
}
