#rteSection {
	margin: $spacing-11 $spacing-5;
	.rteElement {
		display: flex;
		flex-direction: column;
		gap: $spacing-13;
		.infoCard {
			display: flex;
			flex-direction: column;
			gap: $spacing-8;
			.imageWrapper {
				img {
					width: 100%;
					height: 420px;
					object-fit: cover;
					object-position: center;
				}
			}
			.textWrapper {
				display: flex;
				flex-direction: column;
				gap: $spacing-6;
				h3 {
					font-weight: 700;
				}
			}
			.textWrapper:has(ul) {
				ul {
					margin-top: -$spacing-5;
					li {
						margin: 0;
					}
				}
			}
		}
	}
}
@media (min-width: 744px) {
	#rteSection {
		margin: $spacing-12 $spacing-9;
	}
}
@media (min-width: 1240px) {
	#rteSection {
		margin: 80px 120px;
		.rteElement {
			.infoCard {
				display: flex;
				flex-direction: row;
				gap: 120px;
				.imageWrapper {
					flex: 1;
				}
				.textWrapper {
					flex: 1;
				}
			}
			.infoCard:nth-child(even) {
				flex-direction: row-reverse;
			}
		}
	}
}
