#sliderSection {
	margin: 64px 20px;
	.sliderElement {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 32px;
		.headerthird {
			text-align: center;
			font-size: 24px;
		}
		.CardWrapper {
			width: 100%;
			max-width: 800px;
			position: relative;
			margin: auto;
			overflow: hidden;
			border: 1px solid $border_default;
			border-radius: 10px;
			background-color: #fff;
			.Cards {
				display: flex;
				transition: transform 0.5s ease-in-out;
				.Card {
					min-width: 100%;
					box-sizing: border-box;
					img {
						width: 100%;
					}
					p {
						font-size: $fontSize_s;
						padding: $spacing-8;
						line-height: 150%;
					}
				}
			}
		}
	}
}
@media (min-width: 744px) {
	#sliderSection {
		margin: 80px 40px;
		.sliderElement {
			.headerthird {
				font-size: 32px;
			}
			.CardWrapper {
				.Cards {
					.Card {
						p {
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1240px) {
	#sliderSection {
		margin: 80px 120px;
		.sliderElement {
			gap: 80px;
			.CardWrapper {
				max-width: 1480px;
				.Cards {
					.Card {
						display: flex;
						flex-direction: row-reverse;
						img {
							flex: 1;
							position: relative;
							object-fit: cover;
							clip-path: polygon(0% 0%, 100% 796%, 100% 0%);
							max-height: 374px;
						}
						p {
							flex: 1;
						}
					}
				}
			}
		}
	}
}
