#tarifRechnerSection {
	margin: 80px 0;
	background-color: $primary_green_surface_20;
	.tarifRechnerElement {
		padding: $spacing-8 0;
		h2 {
			height: 102px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.check-formular {
			width: 1340px;
			max-width: 100%;
			margin: 0 auto;
			.row {
				display: flex;
				padding: 10px 0;
				.col-6 {
					width: 50%;
					padding: 0 10px;
					input {
						background-color: #ffffff;
					}
				}
				.col-12 {
					width: 100%;
					padding: 10px;
					input {
						background-color: #ffffff;
					}
				}
				.col-md-12 {
					width: 100%;
				}
			}
		}
		.unterTarifWrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: $spacing-8;
			flex-direction: column;
			gap: $spacing-5;
			div {
				width: 100%;
				.whiteButton {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: $spacing-6 $spacing-7;
					color: $primaryColor2;
					background-color: white;
					border: 2px solid $border_default;
					border-radius: 12px;
					text-decoration: none;
					font-size: 18px;
					font-weight: 500;
					gap: 10px;
					img {
						display: block;
					}
				}
			}
		}
	}
}

.check-formular .row:after {
	display: block;
	content: "";
	clear: both;
}

.check-formular .box-a-option {
	width: 150px;
	height: 100px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(236, 111, 45);
	color: rgb(0, 0, 0);
	font-size: 20pt;
	text-align: center;
	margin: auto;
	padding-top: 30px;
	font-weight: bold;
	cursor: pointer;
}

.check-formular .box-a-option-selected {
	width: 200px;
	height: 100px;
	background-color: #94c23f;
	color: #ffffff;
	font-size: 20pt;
	text-align: center;
	margin: auto;
	margin-right: auto;
	padding-top: 30px;
	font-weight: bold;
	cursor: pointer;
}

// .check-formular .box-left {
// 	float: left;
// 	margin-left: 50px;
// }

// .check-formular .box-right {
// 	float: right;
// 	margin-right: 50px;
// }

.check-formular .input-60 {
	width: 320px;
	margin: auto;
	max-width: 100%;
}

.check-formular .input-float-right {
	float: right;
	border: 2px solid #ec6f2d;
	margin-top: 40px;
	margin-bottom: 10px;
}

.check-formular .input-float-left {
	float: left;
	border: 2px solid #ec6f2d;
	margin-top: 40px;
	margin-bottom: 10px;
}

.check-formular .plz-input-border {
	border: 2px solid #ec6f2d;
	width: 660px;
	margin: auto;
	max-width: 100%;
}

.check-formular .input-field input[type="text"] {
	border: 0px;
	outline: none;
	padding: 15px 10px;
	background-color: transparent;
	font-style: italic;
	width: 100%;
	font-size: 20px;
}

.check-formular .box-a-calculate {
	width: 200px;
	background-color: #ec6f2d;
	color: #ffffff;
	font-size: 18pt;
	text-align: center;
	margin: 80px auto 0 auto;
	font-weight: bold;
	line-height: 30px;
}

.check-formular .btn-box-submit {
	width: 100%;
	height: 100%;
	color: #ffffff;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: inherit;
	overflow: hidden;
	outline: none;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 26px;
	font-size: 18pt;
}

.check-formular .btn-box-submit:not(:disabled) {
	cursor: pointer;
}

.co2bilanz-text {
	margin-top: 50px;
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	color: #94c23f;
	font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 640px) {
	#tarifRechnerSection {
		.tarifRechnerElement {
			.check-formular {
				width: 1340px;
				max-width: 100%;
				margin: 0 auto;
				.row {
					display: flex;
					padding: 10px 0;
					.col-6 {
						width: 100%;
						padding: 0 10px;
						input {
							background-color: #ffffff;
						}
						.box-left {
							margin-left: 30px;
						}
						.box-right {
							margin-right: 30px;
						}
					}
					.col-12 {
						width: 100%;
						padding: 10px;
						input {
							background-color: #ffffff;
						}
					}
					.col-md-12 {
						width: 100%;
					}
				}
			}
			.unterTarifWrapper {
				flex-direction: row;
				div {
					width: fit-content;

					.whiteButton {
						width: 200px;
					}
				}
			}
		}
	}

	.check-formular .box-a-option {
		width: 200px;
	}
}
