#tarifLinkSection {
	margin: 0;
	background: linear-gradient(85deg, #0b5624 39.06%, #95c13f 100.03%);
	.tarifLinkElement {
		margin: $spacing-8 $spacing-6;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: $spacing-10;
		img {
			width: 86.5px;
			height: 121px;
		}
		div {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: $spacing-10;
			p {
				font-weight: 700;
				color: white;
				font-size: $fontSize_xxl;
			}
			a {
				border: 2px solid $border_default;
				display: flex;
				gap: $spacing-1;
				font-weight: 600;
				text-decoration: none;
				color: $primaryColor2;
				padding: $spacing-6;
				background: white;
				border-radius: 12px;
				width: 100%;
				text-align: center;
				justify-content: center;
				img {
					width: 24px;
					height: 24px;
				}
			}
		}
	}
	@media (min-width: 744px) {
		.tarifLinkElement {
			margin: $spacing-11 $spacing-9;
			display: grid;
			grid-template-columns: 1fr 3fr;
			img {
				margin: auto;
			}
			div {
				width: fit-content;
				align-items: flex-start;
				p {
					font-size: 32px;
				}
				a {
					width: fit-content;
				}
			}
		}
	}
	@media (min-width: 1240px) {
		.tarifLinkElement {
			margin: 64px 120px;
		}
	}
}
