@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/source-sans-pro/SourceSansPro-ExtraLight.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/source-sans-pro/SourceSansPro-Light.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/source-sans-pro/SourceSansPro-Regular.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/source-sans-pro/SourceSansPro-Semibold.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/source-sans-pro/SourceSansPro-Bold.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 300;
  src: url("static/fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/source-sans-pro/SourceSansPro-LightIt.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/source-sans-pro/SourceSansPro-It.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf");
  /* IE9 Compat Modes */ }

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/source-sans-pro/SourceSansPro-BoldIt.otf");
  /* IE9 Compat Modes */ }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "SourceSansPro";
  color: #4b4e52; }

.section {
  margin: 0 20px; }

h1 {
  font-size: 32px;
  line-height: 150%;
  font-weight: 400; }

h3 {
  font-size: 24px; }

p {
  line-height: 150%; }

main {
  display: flex;
  flex-direction: column; }

ul {
  margin: 0 20px; }
  ul li {
    margin: 10px 0; }

@media (min-width: 744px) {
  h1 {
    font-size: 48px; } }

@media (min-width: 1024px) {
  body {
    max-width: 1720px;
    margin: auto; } }

#header .more {
  background: #ed4b0c;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px; }
  #header .more a {
    display: flex;
    align-items: center;
    padding: 4px 16px;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px; }

#header .headerLogoNMenu {
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #header .headerLogoNMenu .headerLogo img {
    height: 28px;
    width: 181px; }
  #header .headerLogoNMenu .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; }
    #header .headerLogoNMenu .navbar .hamburger-menu {
      display: flex;
      flex-direction: column;
      cursor: pointer; }
      #header .headerLogoNMenu .navbar .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: 0.4s; }
    #header .headerLogoNMenu .navbar .nav-links {
      list-style: none;
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      background-color: #333;
      z-index: 2;
      width: 300px;
      margin: 0; }
      #header .headerLogoNMenu .navbar .nav-links .closeNav {
        display: flex;
        justify-content: end;
        padding: 0 30px; }
      #header .headerLogoNMenu .navbar .nav-links li {
        margin: 30px 15px;
        text-align: center; }
        #header .headerLogoNMenu .navbar .nav-links li a {
          font-weight: 500;
          text-decoration: none;
          color: white;
          font-size: 18px;
          transition: color 0.3s; }
          #header .headerLogoNMenu .navbar .nav-links li a a:hover {
            color: #ff6347; }
    #header .headerLogoNMenu .navbar .nav-links.active {
      display: flex; }

@media (min-width: 744px) {
  #header .headerLogoNMenu .headerLogo img {
    height: 43px;
    width: 277px; } }

@media (min-width: 1024px) {
  #header .more {
    padding: 0 120px; }
  #header .headerLogoNMenu {
    padding: 20px 120px; }
    #header .headerLogoNMenu .navbar {
      padding: 0 16px; }
      #header .headerLogoNMenu .navbar .hamburger-menu {
        display: none; }
      #header .headerLogoNMenu .navbar .nav-links {
        display: flex;
        flex-direction: row;
        background-color: transparent;
        height: fit-content;
        width: fit-content;
        position: unset; }
        #header .headerLogoNMenu .navbar .nav-links .closeNav {
          display: none; }
        #header .headerLogoNMenu .navbar .nav-links li {
          margin: 16px; }
          #header .headerLogoNMenu .navbar .nav-links li a {
            color: #4b4e52; } }

#firstSection {
  margin: 40px 0; }
  #firstSection .firstElement {
    display: flex;
    flex-direction: column; }
    #firstSection .firstElement .mainPic {
      position: relative; }
      #firstSection .firstElement .mainPic img {
        display: block;
        width: 100%;
        height: auto; }
      #firstSection .firstElement .mainPic .polygon {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(0 0, 2.5% 0%, 10% 102%, 0 100%);
        top: 0px;
        left: 0px; }
      #firstSection .firstElement .mainPic .polygon2 {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: white;
        clip-path: polygon(100% 79%, 0% 102%, 100% 101%);
        bottom: 0px;
        left: 0px; }
    #firstSection .firstElement .HeadingNText {
      padding: 40px 20px 0 20px;
      display: flex;
      flex-direction: column;
      gap: 20px; }
      #firstSection .firstElement .HeadingNText h1 .hbold {
        font-weight: 700; }
      #firstSection .firstElement .HeadingNText .subhead {
        font-size: 18px;
        line-height: 150%; }
      #firstSection .firstElement .HeadingNText p {
        font-size: 16px; }
      #firstSection .firstElement .HeadingNText .buttonWrapper {
        display: flex;
        gap: 32px; }
        #firstSection .firstElement .HeadingNText .buttonWrapper .button {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 8px 24px;
          border-radius: 12px;
          font-size: 18px;
          font-weight: 500;
          line-height: 150%;
          letter-spacing: 1.1px; }
        #firstSection .firstElement .HeadingNText .buttonWrapper .orangeButton {
          background-color: #d54108;
          color: white;
          font-size: 14px;
          text-decoration: none; }
        #firstSection .firstElement .HeadingNText .buttonWrapper .whiteButton {
          color: #d54108;
          background-color: white;
          border: 2px solid #dce5ef;
          text-decoration: none;
          font-size: 18px; }
          #firstSection .firstElement .HeadingNText .buttonWrapper .whiteButton img {
            display: none; }
  @media (min-width: 744px) {
    #firstSection .firstElement .HeadingNText {
      padding: 60px 40px 0 40px; }
      #firstSection .firstElement .HeadingNText .subhead {
        font-size: 24px; }
      #firstSection .firstElement .HeadingNText p,
      #firstSection .firstElement .HeadingNText li {
        font-size: 18px; } }
@media (min-width: 1240px) {
  #firstSection {
    margin: 0; }
    #firstSection .firstElement {
      display: flex;
      flex-direction: row-reverse; }
      #firstSection .firstElement .mainPic {
        flex: 1; }
        #firstSection .firstElement .mainPic img {
          width: 100%; }
        #firstSection .firstElement .mainPic .polygon2 {
          display: none; }
        #firstSection .firstElement .mainPic .polygon {
          clip-path: polygon(0 0, 0% 0%, 18% 102%, -1% 100%); }
      #firstSection .firstElement .HeadingNText {
        flex: 1;
        padding-left: 10%;
        padding-right: 10%; }
        #firstSection .firstElement .HeadingNText .buttonWrapper {
          display: flex;
          gap: 32px; }
          #firstSection .firstElement .HeadingNText .buttonWrapper .button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 24px 28px;
            border-radius: 12px;
            font-size: 18px;
            font-weight: 500;
            line-height: 150%;
            letter-spacing: 1.1px; }
          #firstSection .firstElement .HeadingNText .buttonWrapper .orangeButton {
            background-color: #d54108;
            color: white; }
          #firstSection .firstElement .HeadingNText .buttonWrapper .whiteButton {
            color: #d54108;
            background-color: white;
            border: 2px solid #dce5ef; } }

#tarifRechnerSection {
  margin: 80px 0;
  background-color: #e6f1d3; }
  #tarifRechnerSection .tarifRechnerElement {
    padding: 32px 0; }
    #tarifRechnerSection .tarifRechnerElement h2 {
      height: 102px;
      display: flex;
      justify-content: center;
      align-items: center; }
    #tarifRechnerSection .tarifRechnerElement .check-formular {
      width: 1340px;
      max-width: 100%;
      margin: 0 auto; }
      #tarifRechnerSection .tarifRechnerElement .check-formular .row {
        display: flex;
        padding: 10px 0; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-6 {
          width: 50%;
          padding: 0 10px; }
          #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-6 input {
            background-color: #ffffff; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-12 {
          width: 100%;
          padding: 10px; }
          #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-12 input {
            background-color: #ffffff; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-md-12 {
          width: 100%; }
    #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 32px;
      flex-direction: column;
      gap: 20px; }
      #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper div {
        width: 100%; }
        #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper div .whiteButton {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 24px 28px;
          color: #d54108;
          background-color: white;
          border: 2px solid #dce5ef;
          border-radius: 12px;
          text-decoration: none;
          font-size: 18px;
          font-weight: 500;
          gap: 10px; }
          #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper div .whiteButton img {
            display: block; }

.check-formular .row:after {
  display: block;
  content: "";
  clear: both; }

.check-formular .box-a-option {
  width: 150px;
  height: 100px;
  background-color: white;
  border: 2px solid #ec6f2d;
  color: black;
  font-size: 20pt;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-weight: bold;
  cursor: pointer; }

.check-formular .box-a-option-selected {
  width: 200px;
  height: 100px;
  background-color: #94c23f;
  color: #ffffff;
  font-size: 20pt;
  text-align: center;
  margin: auto;
  margin-right: auto;
  padding-top: 30px;
  font-weight: bold;
  cursor: pointer; }

.check-formular .input-60 {
  width: 320px;
  margin: auto;
  max-width: 100%; }

.check-formular .input-float-right {
  float: right;
  border: 2px solid #ec6f2d;
  margin-top: 40px;
  margin-bottom: 10px; }

.check-formular .input-float-left {
  float: left;
  border: 2px solid #ec6f2d;
  margin-top: 40px;
  margin-bottom: 10px; }

.check-formular .plz-input-border {
  border: 2px solid #ec6f2d;
  width: 660px;
  margin: auto;
  max-width: 100%; }

.check-formular .input-field input[type="text"] {
  border: 0px;
  outline: none;
  padding: 15px 10px;
  background-color: transparent;
  font-style: italic;
  width: 100%;
  font-size: 20px; }

.check-formular .box-a-calculate {
  width: 200px;
  background-color: #ec6f2d;
  color: #ffffff;
  font-size: 18pt;
  text-align: center;
  margin: 80px auto 0 auto;
  font-weight: bold;
  line-height: 30px; }

.check-formular .btn-box-submit {
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: inherit;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 26px;
  font-size: 18pt; }

.check-formular .btn-box-submit:not(:disabled) {
  cursor: pointer; }

.co2bilanz-text {
  margin-top: 50px;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: #94c23f;
  font-family: Arial, Helvetica, sans-serif; }

@media (min-width: 640px) {
  #tarifRechnerSection .tarifRechnerElement .check-formular {
    width: 1340px;
    max-width: 100%;
    margin: 0 auto; }
    #tarifRechnerSection .tarifRechnerElement .check-formular .row {
      display: flex;
      padding: 10px 0; }
      #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-6 {
        width: 100%;
        padding: 0 10px; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-6 input {
          background-color: #ffffff; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-6 .box-left {
          margin-left: 30px; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-6 .box-right {
          margin-right: 30px; }
      #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-12 {
        width: 100%;
        padding: 10px; }
        #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-12 input {
          background-color: #ffffff; }
      #tarifRechnerSection .tarifRechnerElement .check-formular .row .col-md-12 {
        width: 100%; }
  #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper {
    flex-direction: row; }
    #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper div {
      width: fit-content; }
      #tarifRechnerSection .tarifRechnerElement .unterTarifWrapper div .whiteButton {
        width: 200px; }
  .check-formular .box-a-option {
    width: 200px; } }

#sliderSection {
  margin: 64px 20px; }
  #sliderSection .sliderElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px; }
    #sliderSection .sliderElement .headerthird {
      text-align: center;
      font-size: 24px; }
    #sliderSection .sliderElement .CardWrapper {
      width: 100%;
      max-width: 800px;
      position: relative;
      margin: auto;
      overflow: hidden;
      border: 1px solid #dce5ef;
      border-radius: 10px;
      background-color: #fff; }
      #sliderSection .sliderElement .CardWrapper .Cards {
        display: flex;
        transition: transform 0.5s ease-in-out; }
        #sliderSection .sliderElement .CardWrapper .Cards .Card {
          min-width: 100%;
          box-sizing: border-box; }
          #sliderSection .sliderElement .CardWrapper .Cards .Card img {
            width: 100%; }
          #sliderSection .sliderElement .CardWrapper .Cards .Card p {
            font-size: 14px;
            padding: 32px;
            line-height: 150%; }

@media (min-width: 744px) {
  #sliderSection {
    margin: 80px 40px; }
    #sliderSection .sliderElement .headerthird {
      font-size: 32px; }
    #sliderSection .sliderElement .CardWrapper .Cards .Card p {
      font-size: 18px; } }

@media (min-width: 1240px) {
  #sliderSection {
    margin: 80px 120px; }
    #sliderSection .sliderElement {
      gap: 80px; }
      #sliderSection .sliderElement .CardWrapper {
        max-width: 1480px; }
        #sliderSection .sliderElement .CardWrapper .Cards .Card {
          display: flex;
          flex-direction: row-reverse; }
          #sliderSection .sliderElement .CardWrapper .Cards .Card img {
            flex: 1;
            position: relative;
            object-fit: cover;
            clip-path: polygon(0% 0%, 100% 796%, 100% 0%);
            max-height: 374px; }
          #sliderSection .sliderElement .CardWrapper .Cards .Card p {
            flex: 1; } }

#mailRequestSection {
  margin: 0;
  background: #ed4b0c; }
  #mailRequestSection .mailRequestElement {
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px; }
    #mailRequestSection .mailRequestElement img {
      height: 121px; }
    #mailRequestSection .mailRequestElement div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px; }
      #mailRequestSection .mailRequestElement div p {
        font-weight: 700;
        color: white;
        font-size: 24px; }
      #mailRequestSection .mailRequestElement div a {
        border: 2px solid #dce5ef;
        display: flex;
        gap: 4px;
        font-weight: 600;
        text-decoration: none;
        color: #d54108;
        padding: 24px;
        background: white;
        border-radius: 12px;
        width: 100%;
        text-align: center;
        justify-content: center; }
        #mailRequestSection .mailRequestElement div a img {
          width: 24px;
          height: 24px; }
  @media (min-width: 744px) {
    #mailRequestSection .mailRequestElement {
      margin: 64px 40px;
      display: grid;
      grid-template-columns: 1fr 3fr; }
      #mailRequestSection .mailRequestElement img {
        margin: auto; }
      #mailRequestSection .mailRequestElement div {
        width: fit-content;
        align-items: flex-start; }
        #mailRequestSection .mailRequestElement div p {
          font-size: 32px; }
        #mailRequestSection .mailRequestElement div a {
          width: fit-content; } }
  @media (min-width: 1240px) {
    #mailRequestSection .mailRequestElement {
      margin: 64px 120px; } }
#goalsSection {
  margin: 48px 40px; }
  #goalsSection .goalsElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px; }
    #goalsSection .goalsElement .picNText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 68px; }
      #goalsSection .goalsElement .picNText img {
        width: 185px;
        padding: 20px; }
      #goalsSection .goalsElement .picNText p {
        font-size: 18px;
        line-height: 150%; }
      #goalsSection .goalsElement .picNText div {
        display: flex;
        flex-direction: column;
        gap: 32px; }
        #goalsSection .goalsElement .picNText div .name {
          font-weight: 600;
          width: 60%; }
        #goalsSection .goalsElement .picNText div .name:last-child {
          margin-top: -32px; }
    #goalsSection .goalsElement .textNText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 32px; }
      #goalsSection .goalsElement .textNText .Text1,
      #goalsSection .goalsElement .textNText .Text2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px; }
        #goalsSection .goalsElement .textNText .Text1 h2,
        #goalsSection .goalsElement .textNText .Text2 h2 {
          line-height: 150%; }
        #goalsSection .goalsElement .textNText .Text1 p,
        #goalsSection .goalsElement .textNText .Text2 p {
          font-size: 18px; }
    #goalsSection .goalsElement .co2bilanz-text {
      margin-top: 50px;
      text-align: center;
      font-size: 38px;
      font-weight: bold;
      color: #94c23f;
      font-family: Arial, Helvetica, sans-serif; }

@media (min-width: 744px) {
  #goalsSection {
    margin: 48px 40px; }
    #goalsSection .goalsElement {
      gap: 100px; }
      #goalsSection .goalsElement .picNText img {
        width: 300px;
        padding: 20px; }
      #goalsSection .goalsElement .picNText div h2 {
        font-size: 32px; }
      #goalsSection .goalsElement .picNText div .nameofdude {
        font-weight: 600;
        width: 30%; }
      #goalsSection .goalsElement .textNText .Text1,
      #goalsSection .goalsElement .textNText .Text2 {
        align-items: start; }
        #goalsSection .goalsElement .textNText .Text1 h2,
        #goalsSection .goalsElement .textNText .Text2 h2 {
          font-size: 32px;
          line-height: 150%; }
        #goalsSection .goalsElement .textNText .Text1 p,
        #goalsSection .goalsElement .textNText .Text2 p {
          font-size: 18px; }
      #goalsSection .goalsElement .goalsheader h2 {
        color: #ed4b0c;
        text-align: center; } }

@media (min-width: 1240px) {
  #goalsSection {
    margin: 120px 120px; }
    #goalsSection .goalsElement .picNText {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 120px; }
      #goalsSection .goalsElement .picNText div .nameofdude {
        font-weight: 600;
        width: 35%; }
      #goalsSection .goalsElement .picNText img {
        justify-self: center; }
    #goalsSection .goalsElement .textNText {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: baseline;
      gap: 120px; }
    #goalsSection .goalsElement .goalsheader h2 {
      line-height: 150%;
      font-size: 48px;
      color: #ed4b0c;
      text-align: center; } }

#faqSection {
  margin: 32px 20px; }
  #faqSection .fifthElement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px; }
    #faqSection .fifthElement .faq_accordeon {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px; }
      #faqSection .fifthElement .faq_accordeon .accordion-item .accordion-header {
        border: 4px solid transparent;
        border-radius: 12px;
        background-color: #ed4b0c;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px 24px;
        border: none;
        text-align: left;
        cursor: pointer;
        outline: none;
        transition: background-color 0.3s ease;
        font-size: 18px;
        font-weight: 600; }
        #faqSection .fifthElement .faq_accordeon .accordion-item .accordion-header img {
          height: 24px;
          width: 24px; }
        #faqSection .fifthElement .faq_accordeon .accordion-item .accordion-header img:last-child {
          display: none; }
      #faqSection .fifthElement .faq_accordeon .accordion-item .accordion-header:hover {
        background-color: #d54108; }
      #faqSection .fifthElement .faq_accordeon .accordion-item .accordion-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease; }
        #faqSection .fifthElement .faq_accordeon .accordion-item .accordion-content p {
          font-size: 18px;
          margin: 0;
          padding: 10px; }

@media (min-width: 744px) {
  #faqSection {
    margin: 120px 40px; }
    #faqSection .fifthElement h2 {
      font-size: 32px; } }

@media (min-width: 1240px) {
  #faqSection {
    margin: 120px; }
    #faqSection .fifthElement {
      gap: 48px; } }

#logoSection {
  margin: 32px 20px; }
  #logoSection .logoElement img {
    width: 100%;
    object-fit: contain; }

@media (min-width: 744px) {
  #logoSection {
    margin: 48px 40px; } }

@media (min-width: 1240px) {
  #logoSection {
    margin: 120px 64px; }
    #logoSection .logoElement {
      margin: auto;
      max-width: 900px; } }

#tarifLinkSection {
  margin: 0;
  background: linear-gradient(85deg, #0b5624 39.06%, #95c13f 100.03%); }
  #tarifLinkSection .tarifLinkElement {
    margin: 32px 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px; }
    #tarifLinkSection .tarifLinkElement img {
      width: 86.5px;
      height: 121px; }
    #tarifLinkSection .tarifLinkElement div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px; }
      #tarifLinkSection .tarifLinkElement div p {
        font-weight: 700;
        color: white;
        font-size: 24px; }
      #tarifLinkSection .tarifLinkElement div a {
        border: 2px solid #dce5ef;
        display: flex;
        gap: 4px;
        font-weight: 600;
        text-decoration: none;
        color: #d54108;
        padding: 24px;
        background: white;
        border-radius: 12px;
        width: 100%;
        text-align: center;
        justify-content: center; }
        #tarifLinkSection .tarifLinkElement div a img {
          width: 24px;
          height: 24px; }
  @media (min-width: 744px) {
    #tarifLinkSection .tarifLinkElement {
      margin: 64px 40px;
      display: grid;
      grid-template-columns: 1fr 3fr; }
      #tarifLinkSection .tarifLinkElement img {
        margin: auto; }
      #tarifLinkSection .tarifLinkElement div {
        width: fit-content;
        align-items: flex-start; }
        #tarifLinkSection .tarifLinkElement div p {
          font-size: 32px; }
        #tarifLinkSection .tarifLinkElement div a {
          width: fit-content; } }
  @media (min-width: 1240px) {
    #tarifLinkSection .tarifLinkElement {
      margin: 64px 120px; } }
#rteSection {
  margin: 64px 20px; }
  #rteSection .rteElement {
    display: flex;
    flex-direction: column;
    gap: 100px; }
    #rteSection .rteElement .infoCard {
      display: flex;
      flex-direction: column;
      gap: 32px; }
      #rteSection .rteElement .infoCard .imageWrapper img {
        width: 100%;
        height: 420px;
        object-fit: cover;
        object-position: center; }
      #rteSection .rteElement .infoCard .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 24px; }
        #rteSection .rteElement .infoCard .textWrapper h3 {
          font-weight: 700; }
      #rteSection .rteElement .infoCard .textWrapper:has(ul) ul {
        margin-top: -20px; }
        #rteSection .rteElement .infoCard .textWrapper:has(ul) ul li {
          margin: 0; }

@media (min-width: 744px) {
  #rteSection {
    margin: 80px 40px; } }

@media (min-width: 1240px) {
  #rteSection {
    margin: 80px 120px; }
    #rteSection .rteElement .infoCard {
      display: flex;
      flex-direction: row;
      gap: 120px; }
      #rteSection .rteElement .infoCard .imageWrapper {
        flex: 1; }
      #rteSection .rteElement .infoCard .textWrapper {
        flex: 1; }
    #rteSection .rteElement .infoCard:nth-child(even) {
      flex-direction: row-reverse; } }

#footer {
  display: flex;
  flex-direction: column; }
  #footer .footerWiese {
    clip-path: polygon(0px 0px, 0% 100%, 75% 100%);
    width: 100%;
    height: 76px;
    background-color: #aad200; }
  #footer .footerContactSection {
    background-color: #992b00;
    padding: 32px 20px; }
    #footer .footerContactSection .phoneIcon {
      display: flex;
      align-items: center;
      gap: 16px;
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;
      font-weight: 600;
      line-height: 26px; }
      #footer .footerContactSection .phoneIcon img {
        width: 28px;
        height: 28px; }
  #footer .footerMain {
    padding: 60px 20px 20px 20px;
    background: #ed4b0c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 60px; }
  #footer .copyright {
    background: #992b00;
    color: #ffffff;
    padding: 0px 30px 30px 30px;
    font-size: 14px; }
    #footer .copyright .crWrapper {
      padding-top: 30px; }
      #footer .copyright .crWrapper p {
        color: white; }
  #footer .fLogoNText {
    display: flex;
    flex-direction: column;
    gap: 20px; }
    #footer .fLogoNText img {
      width: 178px;
      height: 48px; }
    #footer .fLogoNText p {
      font-size: 14px;
      color: white;
      max-width: 490px; }
  #footer .fContactNInfo {
    display: flex;
    flex-direction: column;
    gap: 60px; }
    #footer .fContactNInfo .fContact p:first-child,
    #footer .fContactNInfo .fInfo p:first-child {
      font-size: 16px;
      line-height: 150%;
      font-weight: 700;
      margin-bottom: 20px; }
    #footer .fContactNInfo .fContact p,
    #footer .fContactNInfo .fContact a,
    #footer .fContactNInfo .fInfo p,
    #footer .fContactNInfo .fInfo a {
      font-size: 14px;
      line-height: 150%;
      color: #ffffff;
      text-decoration: none;
      display: flex;
      flex-direction: column; }
      #footer .fContactNInfo .fContact p h3,
      #footer .fContactNInfo .fContact a h3,
      #footer .fContactNInfo .fInfo p h3,
      #footer .fContactNInfo .fInfo a h3 {
        color: #ffffff; }
    #footer .fContactNInfo .fInfo {
      display: flex;
      flex-direction: column;
      gap: 12px; }

@media (min-width: 744px) {
  #footer .footerMain {
    padding: 48px 48px 24px 48px;
    gap: 72px; }
    #footer .footerMain .fLogoNText {
      grid-area: main; }
      #footer .footerMain .fLogoNText p {
        font-size: 16px; }
    #footer .footerMain .fContactNInfo {
      flex-direction: row-reverse;
      justify-content: flex-end; }
      #footer .footerMain .fContactNInfo .fInfo {
        grid-area: wInfo;
        gap: 0; }
        #footer .footerMain .fContactNInfo .fInfo a {
          font-size: 16px;
          margin-bottom: 12px; }
      #footer .footerMain .fContactNInfo .fContact {
        grid-area: contact; }
        #footer .footerMain .fContactNInfo .fContact p {
          font-size: 16px; }
  #footer .copyright {
    display: flex;
    padding: 0px 40px 30px 40px;
    align-items: center; }
    #footer .copyright .crWrapper {
      width: 100%;
      display: flex; }
      #footer .copyright .crWrapper .allRights::before {
        content: "\00a0| \00a0"; } }

@media (min-width: 1240px) {
  #footer .footerWiese {
    clip-path: polygon(0px 0px, 0% 100%, 50% 100%); }
  #footer .footerContactSection {
    padding: 24px 120px; }
  #footer .footerMain {
    flex-direction: row;
    padding: 56px 120px 120px 120px;
    gap: 72px; }
    #footer .footerMain .fLogoNText {
      width: fit-content; }
      #footer .footerMain .fLogoNText p {
        width: 370px;
        font-size: 16px; }
    #footer .footerMain .fContactNInfo .fInfo a {
      font-size: 16px; }
    #footer .footerMain .fContactNInfo .fContact p {
      font-size: 16px; }
  #footer .copyright {
    padding: 0 120px 30px 120px; } }
