<!DOCTYPE html>
<html lang="en" charset="utf-8">
	<head>
	<meta name="generator" content="Hugo 0.127.0"><script src="/livereload.js?mindelay=10&amp;v=2&amp;port=1313&amp;path=livereload" data-no-instant defer></script>
		<meta charset="UTF-8" />
		<title>WSW Wir Gemeinsam</title>
		<link rel="icon" type="image/x-icon" href="/Images/favicon.ico" />
		<meta
			name="description"
			content="Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen und sozialen Einrichtungen und deren Angehörige"
		/>
		<meta name="Author" content="Sivagajan Karunanathan, shetani OHG" />
		<meta name="language" content="de" />
		<meta name="robots" content="index, follow" />
		<meta
			name="keywords"
			content="Eneuerbare Energie, Angebot, Wuppertal, WirGemeinsam"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href="https://www.wirgemeinsam-energie.de/" />
		 
		<link rel="stylesheet" href="http://localhost:1313/sass/style.css" />
	</head>
	<body>
		<header id="header"><div class="more">
	<a href="https://www.wsw-netz.de/"
		><img src="/Icons/link.png" alt="" />Mehr</a
	>
</div>
<div class="headerLogoNMenu">
	<div class="headerLogo">
		<img src="/images/MainLogoColor.png" alt="" />
	</div>
	<nav class="navbar">
		<div class="hamburger-menu" id="hamburgerMenu" onclick="navigation()">
			<img src="/images/Hamburger.png" alt="" />
		</div>
		<ul class="nav-links" id="navLinks">
			<li class="closeNav" onclick="navigation()">
				<img src="/Icons/close.png" alt="" />
			</li>
			<li>
				<a href="https://wirgemeinsam.wgkd.de/calculate">Tarife finden</a>
			</li>
			<li><a href="https://www.wsw-online.de/energie/kontakt/">Kontakt</a></li>
		</ul>
	</nav>
</div>
</header>
		<main>
			 <p>This line is from <code>content/_index.md</code>.</p>
<p><a href="/firstpost/">Go to firstpost</a>.
<a href="/FirstElement/">Go to firstpost</a>.</p>
<p>hallo index.md auch</p>

<p>This line is from <code>layouts/index.html</code>.</p>

			<section id="firstSection" class="section">
				<div class="firstElement">
	<div class="mainPic">
		<img src="/Images/WSW_Stadiondach1.png" alt="" />
		<div class="polygon1 polygon"></div>
		<div class="polygon2 polygon"></div>
	</div>

	<div class="HeadingNText">
		<h1>Willkommen bei <br /><span class="hbold">WIR gemeinsam</span></h1>

		<p>
			„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen und
			sozialen Einrichtungen und deren Angehörige. Um Ihnen zertifizierten
			Ökostrom sowie CO2-kompensiertes Erdgas anbieten zu können, sind die
			Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
			Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch kommen
			Sie in den Genuss attraktiver Energiepreise und wir können den CO2-Ausstoß
			mit dem KlimaINVEST-Zertifikat ausgleichen.
		</p>

		<p></p>

		<div class="buttonWrapper">
			<a
				target="_blank"
				href="https://meine-wsw.wsw-online.de/Offer/Index#/new-plan/price-calculator/form"
				class="orangeButton button"
			>
				<img src="/Icons/rightArrowWhite.png" alt="" />Tarif finden
			</a>
			<a href="#faqSection" class="whiteButton button">
				<img src="/Icons/rightArrowColor.png" alt="" /> Zu Fragen & Antwort
			</a>
		</div>
	</div>
</div>

			</section>
			<section id="tarifRechnerSection" class="section">
				<div class="tarifRechnerElement">
	<h2>Tarif finden</h2>
	<div class="check-formular">
		<form action="https://dev.wirgemeinsam.wgkd.de/calculate" method="GET">
			<div class="row">
				<div class="col-6">
					<div
						id="box-strom"
						class="box-a-option box-right"
						onclick="boxStrom()"
					>
						<span class="box-calculate-span">Ökostrom</span>
					</div>
				</div>
				<div class="col-6">
					<div id="box-gas" class="box-a-option box-left" onclick="boxGas()">
						<span class="box-calculate-span">Erdgas</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="input-field strom-verbrauch input-60 input-float-right">
						<input
							type="text"
							name="strom"
							id="form_kw"
							placeholder="Jahresverbrauch in kWh"
							class="strom-kw-input"
							pattern="[0-9]*"
							required
						/>
					</div>
				</div>
				<div class="col-6">
					<div
						class="input-field gas-verbrauch input-60 input-float-left {% if not form.kwgas.vars.valid %}has-error{% endif %}"
					>
						<input
							type="text"
							name="gas"
							id="form_kwgas"
							placeholder="Jahresverbrauch in kWh"
							class="gas-kw-input"
							pattern="[0-9]*"
							disabled
							required
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div
						class="input-field plz-input-border {% if not form.plz.vars.valid %}has-error{% endif %}"
					>
						<input
							type="text"
							name="plz"
							id="form_plz"
							placeholder="Postleitzahl"
							class="calculate-plz"
							pattern="[0-9]*"
							autocomplete="off"
							disabled
							required
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box-a-calculate btn-tv-space">
						<button
							id="calculate-submit"
							type="submit"
							class="btn-box-submit"
							disabled="true"
						>
							Jetzt<br />berechnen
						</button>
					</div>
				</div>
			</div>
		</form>

		<div class="unterTarifWrapper">
			<div>
				<a class="whiteButton"> <img src="/Icons/download.png" />AGBs </a>
			</div>
			<div>
				<a class="whiteButton">
					<img src="/Icons/download.png" alt="" />Vertragsdetails
				</a>
			</div>
		</div>
	</div>
</div>

			</section>
			<section id="sliderSection" class="section">
				<div class="sliderElement">
	<h2 class="headerthird">Was genau ist WIR gmeinsam?</h2>
	<div class="CardWrapper">
		<div class="Cards">
			<div class="Card">
				<img src="/Images/zusammen.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
			<div class="Card">
				<img src="/Images/ausbildung.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
			<div class="Card">
				<img src="/Images/jetzt-erst-recht.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
			<div class="Card">
				<img src="/Images/talwaerme.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
		</div>
	</div>
</div>

			</section>
			<section id="mailRequestSection" class="section">
				<div class="mailRequestElement">
	<img src="/Images/mail.png" alt="" />
	<div>
		<p>Haben Sie Fragen?</p>
		<a target="_blank" href="mailto:wirgemeinsam@wsw-online.de">
			<img src="/Icons/rightArrowColor.png" alt="" />Email Schreiben</a
		>
	</div>
</div>

			</section>
			<section id="goalsSection" class="section">
				<div class="goalsElement">
	<div class="picNText">
		<img src="/images/dude1.png" alt="" />
		<div>
			<h2 class="greeting">Herzlich Willkommen!</h2>
			<p>
				Wir freuen uns sehr, dass wir Ihnen jetzt über unseren langjährigen
				Partner, die ESDG, auch ein privates Energieangebot für Strom und Erdgas
				unterbreiten können. Ich möchte einen Punkt ganz besonders
				herausstellen, der sich auf die Qualität dieses Stroms bezieht. Sie
				wissen sicher, dass viele kirchliche Einrichtungen schon etliche Jahre
				ihren regenerativen Strom über z. Bsp. Solaranlagen, Windräder etc.
				selbst erzeugen und in das Netz des lokalen Netzbetreibers einspeisen.
				Wenn die staatliche Förderung für diese Energie ausläuft, können solche
				Anlagen vielfach nicht mehr wirtschaftlich betrieben werden. Mit Hilfe
				der ESDG nehmen wir diesen kirchlichen Einrichtungen ihren Strom ab und
				bieten ihn der kirchlichen Mitarbeiterschaft zur Nutzung an.
			</p>
			<p>
				Damit wird Ihr Strom nicht nur preislich für Sie sehr interessant,
				sondern ist obendrein auch sehr umweltfreundlich.
			</p>
			<p class="name">Ich grüße Sie herzlich</p>
			<p class="name">Ihr Falko D. Meyer</p>

			Faiko D. Meyer Geschäftsführer der WGKD in Hannover
		</div>
	</div>
	<div class="textNText">
		<div class="Text1">
			<h2>Was ist WIRgemeinsam Ökostrom?</h2>
			<p>
				WIRgemeinsam Strom ist die Energie, die von Kirchen, Diözesen, Diakonien
				und Caritas ohne Umwege zu Ihnen fließt. Kirchliche und soziale
				Einrichtungen produzieren, beispielsweise durch Solaranlagen, ihre
				eigene Energie, die zum Teil nicht selbst genutzt wird. Diese Energie,
				die eventuell auch von Ihrem Arbeitgeber erzeugt wird, können Sie als
				Mitarbeiter /in privat zu sehr guten Konditionen nutzen. Sie wird als
				solidarischer WIRgemeinsam Strom, von unserem Partner der ESDG, zu Ihnen
				nach Hause geliefert.
			</p>
		</div>
		<div class="Text2">
			<h2>Was genau ist WIRgemeinsam Erdgas?</h2>
			<p>
				Ihr WIRgemeinsam Erdgas ist klimaneutral. Durch die gezielte Förderung
				von Klimaschutzprojekten gleichen wir die entstehenden CO2-Emissionen
				vollständig aus. Dieses vorbildliche, klimaschützende Vorgehen wird
				durch unseren Partner, der Klima Kollekte, mit dem Gold Standard**
				zertifiziert.
			</p>
		</div>
	</div>

	<div class="co2bilanz-text">
		Bis heute haben alle Mitarbeiter<br />
		zusammen <span class="co2bilanz">7.440.00</span> kg CO2 eingespart!
	</div>
</div>

			</section>
			<section id="faqSection" class="section">
				<div class="fifthElement">
	<h2>Fragen & Antworten</h2>
	<div class="faq_accordeon">
		<div class="accordion-item">
			<button class="accordion-header" id="button1" onclick="accordeon(this)">
				Wie kann ich WIRgemeinsam bestellen?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content1">
				<p>
					Geben Sie einfach Ihre PLZ und Ihren Verbrauch im Tarifrechner ein und
					schließen Sie die Bestellung ab. Um alles Weitere kümmern wir uns für
					Sie. Unser Tipp: Halten Sie Ihre letzte Abrechnung mit Ihrer
					Zählernummer, dem Namen des bisherigen Anbieters und der aktuellen
					Kundennummer bereit.  Übrigens: Es werden keine Wechselgebühren
					erhoben. Wann kann ich bei einem Anbieterwechsel frühestens
					WIRgemeinsam nutzen? Das hängt von der verbleibenden Laufzeit Ihres
					bisherigen Vertrags ab. Details hierzu finden Sie in den
					Vertragsbedingungen Ihres bisherigen Anbieters und auf der letzten
					Abrechnung. Nach der Anmeldung bei WIRgemeinsam erhalten Sie von uns
					die Information, ab wann Sie von uns beliefert werden können. Muss ich
					bei einem Wechsel zu WIRgemeinsam bei meinem alten Energieversorger
					kündigen? Sie müssen nichts tun. Sobald sie uns den Auftrag für die
					Versorgung mit Erdgas oder Strom erteilt haben, leiten wir alles
					Weitere für Sie in die Wege.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button2" onclick="accordeon(this)">
				Wann kann ich bei einem Anbieterwechsel frühesten WIRgemeinsam nutzen?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content2">
				<p>
					Das hängt ganz von Ihrem aktuellen Energieliefervertrag ab Haben Sie
					einen Vertrag mit einer festen Laufzeit abgeschlossen, können wir erst
					nach dem Ablauf dieses Datums mit der Versorgung beginnen. Haben Sie
					einen Vertrag ohne Laufzeit abgeschlossen, dann können Sie frühestens
					nach Ablauf der Kündigungsfrist von uns versorgt werden.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button3" onclick="accordeon(this)">
				Muss ich bei einem Wechsel zu WIRgemeinsam bei meinem alten
				Energieversorger kündigen?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content3">
				<p>
					Nein. Wir kümmern uns um alle Formalitäten bei der Ummeldung, und Ihre
					Strom- oder Gasversorgung bleibt zu jeder Zeit gewährleistet.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button4" onclick="accordeon(this)">
				Habe ich bei einer Preisanpassung ein Sonderkündigungsrecht bei meinem
				bisherigen Versorger?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content4">
				<p>
					Hat Ihr Energielieferant eine Preisänderung (Preisanpassung) oder eine
					Änderung der Vertragsbedingungen angekündigt, erhalten Sie ein
					Sonderkündigungsrecht. Bei einem Sondervertrag setzt das
					Sonderkündigungsrecht eine Vertragsänderung voraus, was eine
					Preisänderung in den allermeisten Fällen ist. Der Vertrag kann dann
					bis zu dem Zeitpunkt beendet werden, an dem die Preiserhöhung in Kraft
					tritt.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Kann bei einem Wechsel zu WIRgemeinsam meine Energieversorgung
				unterbrochen werden?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Nein, eine durchgehende Stromversorgung ist in jedem Fall
					sichergestellt.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Wo finde ich den Zähler und die Zählernummer?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Ihren Strom- oder Gaszähler finden Sie in der Regel im Keller oder
					Treppenhaus. In seltenen Fällen können diese auch in der Wohnung
					installiert sein. Sprechen Sie im Zweifel mit Ihrem Vermieter oder
					Verwalter. Die Zählernummer steht meistens vor, hinter, ober- oder
					unterhalb eines Strich-Barcodes auf Ihrem Zähler.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Was sind Grundpreis und Arbeitspreis?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Der Arbeitspreis berücksichtigt Ihren tatsächlichen Verbrauch und wird
					in Cent pro Kilowattstunde (ct/kWh) abgerechnet. Der Grundpreis ist
					vom Verbrauch unabhängig, schließt Aufwendungen für
					Leitungsbereitstellung, Abrechnung, Zählermiete etc. ein und wird in €
					pro Jahr angegeben.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Wo finde ich weitere Begriffserklärungen (z.B. kWh, Konzessionsabgabe)?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>Alle wichtigen Begriffe finden Sie als Erklärung in diesem PDF:</p>
				<a
					target="_blank"
					href="https://www.wsw-online.de/fileadmin/Dokumente/Energie/Services/Standardisierte-Begriffserklaerungen.pdf"
				>
					https://www.wsw-online.de/fileadmin/Dokumente/Energie/Services/Standardisierte-Begriffserklaerungen.pdf
				</a>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Ich ziehe um und möchte WIRgemeinsam beziehen. Was muss ich tun?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Sie müssen uns Ihren geplanten Umzug mitteilen. Denn wenn Ihre neue
					Wohnung im Versorgungsgebiet eines anderen Netzbetreibers liegt,
					müssen wir diesen frühzeitig informieren. Wissen sollten Sie, dass wir
					nur Ihre neue Anschrift, Zählernummer und -stand, sowie den Namen
					Ihres Vormieters benötigen. Ihr Vertrag wird dann einfach übertragen.
					Wenn für Ihre neue Wohnung bereits ein Stromliefervertrag mit dem
					örtlichen Versorger besteht, müssen Sie diesen kündigen und einen
					neuen WIRgemeinsam-Liefervertrag abschließen.
				</p>
			</div>
		</div>
	</div>
</div>

			</section>
			<section id="logoSection" class="section">
				<div class="logoElement">
	<img src="/Images/Kollektive.png" alt="" />
</div>

			</section>
			<section id="tarifLinkSection" class="section">
				<div class="tarifLinkElement">
	<img src="/Icons/windrad.png" alt="" />
	<div>
		<p>Jetzt Tarif finden</p>
		<a
			target="_blank"
			href="https://meine-wsw.wsw-online.de/Offer#/new-plan/price-calculator/form"
		>
			<img src="/Icons/rightArrowColor.png" alt="" />zum Tarifrechner</a
		>
	</div>
</div>

			</section>
			<section id="rteSection" class="section">
				<div class="rteElement">
	<div class="infoCard">
		<div class="imageWrapper">
			<img src="/Images/regenrativeEnergien.png" alt="" />
		</div>
		<div class="textWrapper">
			<h3>Was bedeutet „100 Prozent Ökostrom?</h3>
			<p>
				100 Prozent Ökostrom bedeutet, dass der gesamte Stromverbrauch aus
				erneuerbaren Energiequellen wie Wind, Sonne oder Wasser gedeckt wird.
				Der Strombedarf kann jedoch nicht immer vollständig durch Ökostrom
				gedeckt werden, da erneuerbare Energien wetter- und tageszeitabhängig
				sind. In Zeiten, in denen der Ökostrom nicht ausreicht, muss oft auf
				konventionellen Strom zurückgegriffen werden, der CO2-Emissionen
				verursacht. Diese werden durch den Kauf von Zertifikaten kompensiert.
				Diese Zertifikate finanzieren Klimaschutzprojekte, die CO2-Emissionen
				reduzieren oder vermeiden, um die Klimawirkung auszugleichen und eine
				klimaneutrale Bilanz zu erreichen.
			</p>
		</div>
	</div>
	<div class="infoCard">
		<div class="imageWrapper">
			<img src="/Images/See.png" alt="" />
		</div>
		<div class="textWrapper">
			<h3>Was bedeutet „100 Prozent Ökostrom?</h3>
			<p>
				Wo möglich, werden Maßnahmen zur Reduktion der CO2-Emissionen ergriffen,
				z.B. durch Effizienzsteigerungen in der Produktion und im Transport des
				Erdgases. Die verbleibenden, unvermeidbaren Emissionen werden durch den
				Kauf von CO2-Zertifikaten kompensiert. Diese Zertifikate finanzieren
				Projekte, die CO2 aus der Atmosphäre binden oder den Ausstoß von CO2
				verhindern. Beispiele für solche Projekte sind:
			</p>
			<ul>
				<li>
					Aufforstungsprojekte, die CO2 durch das Wachstum von Bäumen binden.
				</li>
				<li>
					Projekte zur Nutzung erneuerbarer Energien, die den Einsatz fossiler
					Brennstoffe reduzieren.
				</li>
				<li>
					Methanreduktion in Deponien oder landwirtschaftlichen Betrieben.
				</li>
			</ul>
		</div>
	</div>
</div>

			</section>
		</main>

		<footer id="footer"><div class="footerWiese"></div>
<div class="footerContactSection">
	<a class="phoneIcon" href="tel: +49202247550"
		><img
			src="/images/phoneWhite.png"
			alt="anklickbares weisses Telefon Icon"
		/>+49 0202 24 755 – 0</a
	>
</div>
<div class="footerMain">
	<div class="fLogoNText">
		<img src="/images/MainLogoWhite.png" alt="" />
		<p>
			Der WSW-Konzern deckt mit seinen Tochtergesellschaften die Geschäftsfelder
			Energie-versorgung, Trinkwasser-produktion, öffentlicher
			Personennahverkehr, Stadtentwässerung, Energiedienstleistungen,
			Abfallwirtschaft kommunal, regional und teilweise auch bundesweit ab. Mit
			rund 3.167 Beschäftigten gehört der WSW-Konzern zu den größten
			Arbeitgebern Wuppertals.
		</p>
	</div>
	<div class="fContactNInfo">
		<div class="fContact">
			<p>Kontakt</p>
			
			<a href="tel:076188849019"><h3>Service-Hotline 0761-888 49 019</h3> </a>
		</div>

		<div class="fInfo">
			<p>Wichtige Informationen</p>
			<a href="">Impressum</a>
			<a href="">Datenschutz</a>
			<a href="">Cookies</a>
		</div>
	</div>
</div>

<div class="copyright">
	<div class="crWrapper">
		<p>Copyright 2022 WSW Wuppertaler Stadtwerke GmbH</p>
		<p class="allRights">All Rights Reserved</p>
	</div>
</div>
</footer>
		<script src="/js/website.js"></script>
	</body>
</html>
