<div class="fifthElement">
	<h2>Fragen & Antworten</h2>
	<div class="faq_accordeon">
		<div class="accordion-item">
			<button class="accordion-header" id="button1" onclick="accordeon(this)">
				Wie kann ich WIRgemeinsam bestellen?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content1">
				<p>
					Geben Sie einfach Ihre PLZ und Ihren Verbrauch im Tarifrechner ein und
					schließen Sie die Bestellung ab. Um alles Weitere kümmern wir uns für
					Sie. Unser Tipp: Halten Sie Ihre letzte Abrechnung mit Ihrer
					Zählernummer, dem Namen des bisherigen Anbieters und der aktuellen
					Kundennummer bereit.  Übrigens: Es werden keine Wechselgebühren
					erhoben. Wann kann ich bei einem Anbieterwechsel frühestens
					WIRgemeinsam nutzen? Das hängt von der verbleibenden Laufzeit Ihres
					bisherigen Vertrags ab. Details hierzu finden Sie in den
					Vertragsbedingungen Ihres bisherigen Anbieters und auf der letzten
					Abrechnung. Nach der Anmeldung bei WIRgemeinsam erhalten Sie von uns
					die Information, ab wann Sie von uns beliefert werden können. Muss ich
					bei einem Wechsel zu WIRgemeinsam bei meinem alten Energieversorger
					kündigen? Sie müssen nichts tun. Sobald sie uns den Auftrag für die
					Versorgung mit Erdgas oder Strom erteilt haben, leiten wir alles
					Weitere für Sie in die Wege.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button2" onclick="accordeon(this)">
				Wann kann ich bei einem Anbieterwechsel frühesten WIRgemeinsam nutzen?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content2">
				<p>
					Das hängt ganz von Ihrem aktuellen Energieliefervertrag ab Haben Sie
					einen Vertrag mit einer festen Laufzeit abgeschlossen, können wir erst
					nach dem Ablauf dieses Datums mit der Versorgung beginnen. Haben Sie
					einen Vertrag ohne Laufzeit abgeschlossen, dann können Sie frühestens
					nach Ablauf der Kündigungsfrist von uns versorgt werden.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button3" onclick="accordeon(this)">
				Muss ich bei einem Wechsel zu WIRgemeinsam bei meinem alten
				Energieversorger kündigen?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content3">
				<p>
					Nein. Wir kümmern uns um alle Formalitäten bei der Ummeldung, und Ihre
					Strom- oder Gasversorgung bleibt zu jeder Zeit gewährleistet.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button4" onclick="accordeon(this)">
				Habe ich bei einer Preisanpassung ein Sonderkündigungsrecht bei meinem
				bisherigen Versorger?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content4">
				<p>
					Hat Ihr Energielieferant eine Preisänderung (Preisanpassung) oder eine
					Änderung der Vertragsbedingungen angekündigt, erhalten Sie ein
					Sonderkündigungsrecht. Bei einem Sondervertrag setzt das
					Sonderkündigungsrecht eine Vertragsänderung voraus, was eine
					Preisänderung in den allermeisten Fällen ist. Der Vertrag kann dann
					bis zu dem Zeitpunkt beendet werden, an dem die Preiserhöhung in Kraft
					tritt.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Kann bei einem Wechsel zu WIRgemeinsam meine Energieversorgung
				unterbrochen werden?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Nein, eine durchgehende Stromversorgung ist in jedem Fall
					sichergestellt.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Wo finde ich den Zähler und die Zählernummer?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Ihren Strom- oder Gaszähler finden Sie in der Regel im Keller oder
					Treppenhaus. In seltenen Fällen können diese auch in der Wohnung
					installiert sein. Sprechen Sie im Zweifel mit Ihrem Vermieter oder
					Verwalter. Die Zählernummer steht meistens vor, hinter, ober- oder
					unterhalb eines Strich-Barcodes auf Ihrem Zähler.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Was sind Grundpreis und Arbeitspreis?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Der Arbeitspreis berücksichtigt Ihren tatsächlichen Verbrauch und wird
					in Cent pro Kilowattstunde (ct/kWh) abgerechnet. Der Grundpreis ist
					vom Verbrauch unabhängig, schließt Aufwendungen für
					Leitungsbereitstellung, Abrechnung, Zählermiete etc. ein und wird in €
					pro Jahr angegeben.
				</p>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Wo finde ich weitere Begriffserklärungen (z.B. kWh, Konzessionsabgabe)?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>Alle wichtigen Begriffe finden Sie als Erklärung in diesem PDF:</p>
				<a
					target="_blank"
					href="https://www.wsw-online.de/fileadmin/Dokumente/Energie/Services/Standardisierte-Begriffserklaerungen.pdf"
				>
					https://www.wsw-online.de/fileadmin/Dokumente/Energie/Services/Standardisierte-Begriffserklaerungen.pdf
				</a>
			</div>
		</div>
		<div class="accordion-item">
			<button class="accordion-header" id="button5" onclick="accordeon(this)">
				Ich ziehe um und möchte WIRgemeinsam beziehen. Was muss ich tun?
				<img src="/Icons/downArrow.png" alt="" />
				<img src="/Icons/upArrow.png" alt="" />
			</button>

			<div class="accordion-content" id="content5">
				<p>
					Sie müssen uns Ihren geplanten Umzug mitteilen. Denn wenn Ihre neue
					Wohnung im Versorgungsgebiet eines anderen Netzbetreibers liegt,
					müssen wir diesen frühzeitig informieren. Wissen sollten Sie, dass wir
					nur Ihre neue Anschrift, Zählernummer und -stand, sowie den Namen
					Ihres Vormieters benötigen. Ihr Vertrag wird dann einfach übertragen.
					Wenn für Ihre neue Wohnung bereits ein Stromliefervertrag mit dem
					örtlichen Versorger besteht, müssen Sie diesen kündigen und einen
					neuen WIRgemeinsam-Liefervertrag abschließen.
				</p>
			</div>
		</div>
	</div>
</div>
