<div class="firstElement">
	<div class="mainPic">
		<img src="/Images/WSW_Stadiondach1.png" alt="" />
		<div class="polygon1 polygon"></div>
		<div class="polygon2 polygon"></div>
	</div>

	<div class="HeadingNText">
		<h1>Willkommen bei <br /><span class="hbold">WIR gemeinsam</span></h1>

		<p>
			„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen und
			sozialen Einrichtungen und deren Angehörige. Um Ihnen zertifizierten
			Ökostrom sowie CO2-kompensiertes Erdgas anbieten zu können, sind die
			Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
			Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch kommen
			Sie in den Genuss attraktiver Energiepreise und wir können den CO2-Ausstoß
			mit dem KlimaINVEST-Zertifikat ausgleichen.
		</p>

		<p>{{.Param "firstText"}}</p>

		<div class="buttonWrapper">
			<a
				target="_blank"
				href="https://meine-wsw.wsw-online.de/Offer/Index#/new-plan/price-calculator/form"
				class="orangeButton button"
			>
				<img src="/Icons/rightArrowWhite.png" alt="" />Tarif finden
			</a>
			<a href="#faqSection" class="whiteButton button">
				<img src="/Icons/rightArrowColor.png" alt="" /> Zu Fragen & Antwort
			</a>
		</div>
	</div>
</div>
