<div class="goalsElement">
	<div class="picNText">
		<img src="/images/dude1.png" alt="" />
		<div>
			<h2 class="greeting">Herzlich Willkommen!</h2>
			<p>
				Wir freuen uns sehr, dass wir Ihnen jetzt über unseren langjährigen
				Partner, die ESDG, auch ein privates Energieangebot für Strom und Erdgas
				unterbreiten können. Ich möchte einen Punkt ganz besonders
				herausstellen, der sich auf die Qualität dieses Stroms bezieht. Sie
				wissen sicher, dass viele kirchliche Einrichtungen schon etliche Jahre
				ihren regenerativen Strom über z. Bsp. Solaranlagen, Windräder etc.
				selbst erzeugen und in das Netz des lokalen Netzbetreibers einspeisen.
				Wenn die staatliche Förderung für diese Energie ausläuft, können solche
				Anlagen vielfach nicht mehr wirtschaftlich betrieben werden. Mit Hilfe
				der ESDG nehmen wir diesen kirchlichen Einrichtungen ihren Strom ab und
				bieten ihn der kirchlichen Mitarbeiterschaft zur Nutzung an.
			</p>
			<p>
				Damit wird Ihr Strom nicht nur preislich für Sie sehr interessant,
				sondern ist obendrein auch sehr umweltfreundlich.
			</p>
			<p class="name">Ich grüße Sie herzlich</p>
			<p class="name">Ihr Falko D. Meyer</p>

			Faiko D. Meyer Geschäftsführer der WGKD in Hannover
		</div>
	</div>
	<div class="textNText">
		<div class="Text1">
			<h2>Was ist WIRgemeinsam Ökostrom?</h2>
			<p>
				WIRgemeinsam Strom ist die Energie, die von Kirchen, Diözesen, Diakonien
				und Caritas ohne Umwege zu Ihnen fließt. Kirchliche und soziale
				Einrichtungen produzieren, beispielsweise durch Solaranlagen, ihre
				eigene Energie, die zum Teil nicht selbst genutzt wird. Diese Energie,
				die eventuell auch von Ihrem Arbeitgeber erzeugt wird, können Sie als
				Mitarbeiter /in privat zu sehr guten Konditionen nutzen. Sie wird als
				solidarischer WIRgemeinsam Strom, von unserem Partner der ESDG, zu Ihnen
				nach Hause geliefert.
			</p>
		</div>
		<div class="Text2">
			<h2>Was genau ist WIRgemeinsam Erdgas?</h2>
			<p>
				Ihr WIRgemeinsam Erdgas ist klimaneutral. Durch die gezielte Förderung
				von Klimaschutzprojekten gleichen wir die entstehenden CO2-Emissionen
				vollständig aus. Dieses vorbildliche, klimaschützende Vorgehen wird
				durch unseren Partner, der Klima Kollekte, mit dem Gold Standard**
				zertifiziert.
			</p>
		</div>
	</div>

	<div class="co2bilanz-text">
		Bis heute haben alle Mitarbeiter<br />
		zusammen <span class="co2bilanz">7.440.00</span> kg CO2 eingespart!
	</div>
</div>
