<div class="mailRequestElement">
	<img src="/Images/mail.png" alt="" />
	<div>
		<p>Haben Sie Fragen?</p>
		<a target="_blank" href="mailto:wirgemeinsam@wsw-online.de">
			<img src="/Icons/rightArrowColor.png" alt="" />Email Schreiben</a
		>
	</div>
</div>
