<div class="rteElement">
	<div class="infoCard">
		<div class="imageWrapper">
			<img src="/Images/regenrativeEnergien.png" alt="" />
		</div>
		<div class="textWrapper">
			<h3>Was bedeutet „100 Prozent Ökostrom?</h3>
			<p>
				100 Prozent Ökostrom bedeutet, dass der gesamte Stromverbrauch aus
				erneuerbaren Energiequellen wie Wind, Sonne oder Wasser gedeckt wird.
				Der Strombedarf kann jedoch nicht immer vollständig durch Ökostrom
				gedeckt werden, da erneuerbare Energien wetter- und tageszeitabhängig
				sind. In Zeiten, in denen der Ökostrom nicht ausreicht, muss oft auf
				konventionellen Strom zurückgegriffen werden, der CO2-Emissionen
				verursacht. Diese werden durch den Kauf von Zertifikaten kompensiert.
				Diese Zertifikate finanzieren Klimaschutzprojekte, die CO2-Emissionen
				reduzieren oder vermeiden, um die Klimawirkung auszugleichen und eine
				klimaneutrale Bilanz zu erreichen.
			</p>
		</div>
	</div>
	<div class="infoCard">
		<div class="imageWrapper">
			<img src="/Images/See.png" alt="" />
		</div>
		<div class="textWrapper">
			<h3>Was bedeutet „100 Prozent Ökostrom?</h3>
			<p>
				Wo möglich, werden Maßnahmen zur Reduktion der CO2-Emissionen ergriffen,
				z.B. durch Effizienzsteigerungen in der Produktion und im Transport des
				Erdgases. Die verbleibenden, unvermeidbaren Emissionen werden durch den
				Kauf von CO2-Zertifikaten kompensiert. Diese Zertifikate finanzieren
				Projekte, die CO2 aus der Atmosphäre binden oder den Ausstoß von CO2
				verhindern. Beispiele für solche Projekte sind:
			</p>
			<ul>
				<li>
					Aufforstungsprojekte, die CO2 durch das Wachstum von Bäumen binden.
				</li>
				<li>
					Projekte zur Nutzung erneuerbarer Energien, die den Einsatz fossiler
					Brennstoffe reduzieren.
				</li>
				<li>
					Methanreduktion in Deponien oder landwirtschaftlichen Betrieben.
				</li>
			</ul>
		</div>
	</div>
</div>
