<div class="sliderElement">
	<h2 class="headerthird">Was genau ist WIR gmeinsam?</h2>
	<div class="CardWrapper">
		<div class="Cards">
			<div class="Card">
				<img src="/Images/zusammen.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
			<div class="Card">
				<img src="/Images/ausbildung.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
			<div class="Card">
				<img src="/Images/jetzt-erst-recht.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
			<div class="Card">
				<img src="/Images/talwaerme.png" alt="" />
				<p>
					„Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen
					und sozialen Einrichtungen. Um Ihnen zertifizierten Ökostrom sowie
					CO2-kompensiertes Erdgas anbieten zu können, sind die
					Wirtschaftsgesellschaft der Kirchen in Deutschland (WGKD) und die WSW
					Energie & Wasser AG eine Vertriebskooperation eingegangen. Dadurch
					kommen Sie in den Genuss attraktiver Energiepreise und wir können den
					CO2-Ausstoß mit dem KlimaINVEST-Zertifikat ausgleichen.
				</p>
			</div>
		</div>
	</div>
</div>
