<div class="tarifLinkElement">
	<img src="/Icons/windrad.png" alt="" />
	<div>
		<p>Jetzt Tarif finden</p>
		<a
			target="_blank"
			href="https://meine-wsw.wsw-online.de/Offer#/new-plan/price-calculator/form"
		>
			<img src="/Icons/rightArrowColor.png" alt="" />zum Tarifrechner</a
		>
	</div>
</div>
