<div class="tarifRechnerElement">
	<h2>Tarif finden</h2>
	<div class="check-formular">
		<form action="https://dev.wirgemeinsam.wgkd.de/calculate" method="GET">
			<div class="row">
				<div class="col-6">
					<div
						id="box-strom"
						class="box-a-option box-right"
						onclick="boxStrom()"
					>
						<span class="box-calculate-span">Ökostrom</span>
					</div>
				</div>
				<div class="col-6">
					<div id="box-gas" class="box-a-option box-left" onclick="boxGas()">
						<span class="box-calculate-span">Erdgas</span>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="input-field strom-verbrauch input-60 input-float-right">
						<input
							type="text"
							name="strom"
							id="form_kw"
							placeholder="Jahresverbrauch in kWh"
							class="strom-kw-input"
							pattern="[0-9]*"
							required
						/>
					</div>
				</div>
				<div class="col-6">
					<div
						class="input-field gas-verbrauch input-60 input-float-left {% if not form.kwgas.vars.valid %}has-error{% endif %}"
					>
						<input
							type="text"
							name="gas"
							id="form_kwgas"
							placeholder="Jahresverbrauch in kWh"
							class="gas-kw-input"
							pattern="[0-9]*"
							disabled
							required
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div
						class="input-field plz-input-border {% if not form.plz.vars.valid %}has-error{% endif %}"
					>
						<input
							type="text"
							name="plz"
							id="form_plz"
							placeholder="Postleitzahl"
							class="calculate-plz"
							pattern="[0-9]*"
							autocomplete="off"
							disabled
							required
						/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="box-a-calculate btn-tv-space">
						<button
							id="calculate-submit"
							type="submit"
							class="btn-box-submit"
							disabled="true"
						>
							Jetzt<br />berechnen
						</button>
					</div>
				</div>
			</div>
		</form>

		<div class="unterTarifWrapper">
			<div>
				<a class="whiteButton"> <img src="/Icons/download.png" />AGBs </a>
			</div>
			<div>
				<a class="whiteButton">
					<img src="/Icons/download.png" alt="" />Vertragsdetails
				</a>
			</div>
		</div>
	</div>
</div>
