<!DOCTYPE html>
<html lang="en" charset="utf-8">
	<head>
		<meta charset="UTF-8" />
		<title>WSW Wir Gemeinsam</title>
		<link rel="icon" type="image/x-icon" href="/Images/favicon.ico" />
		<meta
			name="description"
			content="Wir gemeinsam“ ist ein Energieangebot für Mitarbeitende in Kirchen und sozialen Einrichtungen und deren Angehörige"
		/>
		<meta name="Author" content="Sivagajan Karunanathan, shetani OHG" />
		<meta name="language" content="de" />
		<meta name="robots" content="index, follow" />
		<meta
			name="keywords"
			content="Eneuerbare Energie, Angebot, Wuppertal, WirGemeinsam"
		/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="canonical" href="https://www.wirgemeinsam-energie.de/" />
		{{ $sass := resources.Get "sass/style.scss" }} {{ $style := $sass |
		resources.ToCSS }}
		<link rel="stylesheet" href="{{ $style.Permalink }}" />
	</head>
	<body>
		<header id="header">{{ partial "header.html" . }}</header>
		<main>
			{{ block "main" . }} {{ end }}
			<section id="firstSection" class="section">
				{{ partial "sections/FirstSection.html"}}
			</section>
			<section id="tarifRechnerSection" class="section">
				{{ partial "sections/TarifRechner.html"}}
			</section>
			<section id="sliderSection" class="section">
				{{ partial "sections/Slider.html"}}
			</section>
			<section id="mailRequestSection" class="section">
				{{ partial "sections/MailAnfrage.html"}}
			</section>
			<section id="goalsSection" class="section">
				{{ partial "sections/GoalsSection.html"}}
			</section>
			<section id="faqSection" class="section">
				{{ partial "sections/FAQSection.html"}}
			</section>
			<section id="logoSection" class="section">
				{{ partial "sections/LogoSection.html"}}
			</section>
			<section id="tarifLinkSection" class="section">
				{{ partial "sections/TarifLink.html"}}
			</section>
			<section id="rteSection" class="section">
				{{ partial "sections/RTESection.html"}}
			</section>
		</main>

		<footer id="footer">{{ partial "footer.html" . }}</footer>
		<script src="/js/website.js"></script>
	</body>
</html>
