<div class="footerWiese"></div>
<div class="footerContactSection">
	<a class="phoneIcon" href="tel: +49202247550"
		><img
			src="/images/phoneWhite.png"
			alt="anklickbares weisses Telefon Icon"
		/>+49 0202 24 755 – 0</a
	>
</div>
<div class="footerMain">
	<div class="fLogoNText">
		<img src="/images/MainLogoWhite.png" alt="" />
		<p>
			Der WSW-Konzern deckt mit seinen Tochtergesellschaften die Geschäftsfelder
			Energie-versorgung, Trinkwasser-produktion, öffentlicher
			Personennahverkehr, Stadtentwässerung, Energiedienstleistungen,
			Abfallwirtschaft kommunal, regional und teilweise auch bundesweit ab. Mit
			rund 3.167 Beschäftigten gehört der WSW-Konzern zu den größten
			Arbeitgebern Wuppertals.
		</p>
	</div>
	<div class="fContactNInfo">
		<div class="fContact">
			<p>Kontakt</p>
			<!--
			<p>Bromberger Str. 39</p>
			<p>42281 Wuppertal</p>
			<p>Tel.: +49 0202 24 755 – 0</p> -->
			<a href="tel:076188849019"><h3>Service-Hotline 0761-888 49 019</h3> </a>
		</div>

		<div class="fInfo">
			<p>Wichtige Informationen</p>
			<a href="">Impressum</a>
			<a href="">Datenschutz</a>
			<a href="">Cookies</a>
		</div>
	</div>
</div>

<div class="copyright">
	<div class="crWrapper">
		<p>Copyright 2022 WSW Wuppertaler Stadtwerke GmbH</p>
		<p class="allRights">All Rights Reserved</p>
	</div>
</div>
