<div class="more">
	<a href="https://www.wsw-netz.de/"
		><img src="/Icons/link.png" alt="" />Mehr</a
	>
</div>
<div class="headerLogoNMenu">
	<div class="headerLogo">
		<img src="/images/MainLogoColor.png" alt="" />
	</div>
	<nav class="navbar">
		<div class="hamburger-menu" id="hamburgerMenu" onclick="navigation()">
			<img src="/images/Hamburger.png" alt="" />
		</div>
		<ul class="nav-links" id="navLinks">
			<li class="closeNav" onclick="navigation()">
				<img src="/Icons/close.png" alt="" />
			</li>
			<li>
				<a href="https://wirgemeinsam.wgkd.de/calculate">Tarife finden</a>
			</li>
			<li><a href="https://www.wsw-online.de/energie/kontakt/">Kontakt</a></li>
		</ul>
	</nav>
</div>
